<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,maximum-scale=1.0"
    />

    <!-------------------------CSS STYLES ------------------------------------>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/menu.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-------------------------APP SCRIPTS ------------------------------------>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/customer-menu.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script defer src="/scripts/helpers.js"></script>
  </head>

  <!---------------------External JS------------------------------------------->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <!-------------------------DB SCRIPTS  ------------------------------------>


  <!-------------------------BODY  ------------------------------------>
  <body>

    <!-------------------------ATTEMPT TO EXTRACT COOKIE INFORMATION TO EXTERNAL SCRIPT ------------------------------------>
    <div id="dataContainer" data-user="<%= user %>" data-userType="<%= userType %>"></div>
    <header>  <%- include('partials/header') %></header>
    <!--   ------------------------------------------------------ -->


<!-- test INTERNAL EJS cookies FROM TEMPLATE VARS -->
    <main>
      <h1>Welcome <%= user %> 🥔</h1>
      <h2>User Type: <%= userType %></h2>
       <br>
      <h2>Restaurant Name</h2>

   <!-- LOGIC TO DETERMINE IF USER IS CUSTOMER OR RESTAURANT on click with jquery -->

  <section class = 'add-restaurant'>
      <h3>Add Restaurant</h3>
      <br />
      <form action="/add-restaurant" method="POST">
        <div class="register-new-restaurant">
          <label for="road">Road:</label>
          <input
            class="form-control"
            id="road"
            type="text"
            name="road"
            placeholder="Enter road"
            required
          />

          <label for="city">City:</label>
          <input
            class="form-control"
            id="city"
            type="text"
            name="city"
            placeholder="Enter city"
            required
          />

          <label for="province">Province:</label>
          <input
            class="form-control"
            id="province"
            type="text"
            name="province"
            placeholder="Enter province"
            required
          />

          <label for="postal_code">Postal Code:</label>
          <input
            class="form-control"
            id="postal_code"
            type="text"
            name="postal_code"
            placeholder="Enter postal code"
            required
          />

          <label for="phone">Phone:</label>
          <input
            class="form-control"
            id="phone"
            type="text"
            name="phone"
            placeholder="Enter phone number"
          />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add Restaurant</button>
        </div>
      </form>
  </section>


  <section class = 'add-menu'></section>


<!-- Restaurant Owner Section -->

<!-- can be generated or unhide with jquery  on user tpe identification  -->

<section id = 'restaurant-user' class = 'hidden-on-load'>

  <!--ORDER SECTION -LIKE SHOW TWEETS SECTION BUT FOR ORDERS NEWEST ORDER COMES FIRST WITH BUTTONS FOR ACCEPT, COMPLETED ESTIMATED TIME AND (STRETCH) A COUNTER FOR KEEPING TRACK OF TIME. COULD BE SETUP LIKE A TO DO LIST, WITH NEW, IN PROGRESS, READY COMPLETED FOR STATUS-->

  <!-- STRETCH ANALYTICS SECTION  -->

  <!-- STRETCH MENU MODIFICATION SECTION -->


</section>
<!-- / -->



<!-- /Customer Section/ -->


<section id = 'customer-user' class = 'hidden-on-load'></section>

<!---------------------------MENU ------------------------------------>

<!-- Menu section either form or submit button with prevent default
  add and delete buttons AND   + - button to set quantity -->


  <div class = 'menu'>
  </div>



  <!---------------------------CART ------------------------------------>
  <div class = 'cart'>
  </div>


  <!---------------------CONFIRMATION and Status --------------------------->

  <div class = 'confirmation'>
  </div>
</section>
<!-- / -->

    </main>






  </body>
</html>
